{% extends 'base.html' %}
{% load bootstrap3 %}
{% load extra_tags %}

{% block scripts %}
    {% load static %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script type="text/javascript">
        expenses_chart_data = {{expenses_chart_data|as_json|safe}};
        receipts_chart_data = {{receipts_chart_data|as_json|safe}};
        build_expense_chart(expenses_chart_data, receipts_chart_data);
    </script>
{% endblock scripts %}

{% block pageheader %}Resumo dos Gastos e Metas{% endblock pageheader %}

{% block topmenu %}
    {% if request.user.is_authenticated %}
        <p>Mêses: <a href="/?month=0">Mês atual</a> <a href="/?month=-1">Mês anterior</a> </p>

        <p>Receita Recebida: <b>R$ {{ total_receipt }}</b></p>
        <p>Despesas Totais: <b>R$ {{ total_expent }} </b></p>
        <p>Sobrou: <b>R$ {{ remainder }} </b></p>

        <div id="chart-1" style="width:100%; height:400px;"></div>

        <!-- <p>Hello {{ request.user.username }} 
         (<a href="/accounts/logout/">Logout</a>) </p>-->
        
        
    {% endif %}
    
{% endblock topmenu %}