{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    {% block scripts %}{% endblock %}
    <style>

  </style>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    {% block title %}<title>RaioX Carteira</title{% endblock %}
  </head>
  <body>
    <!-- Include top bar menu -->
    {% include "navbar-top.html" %}
    <div class="row">
        {% include "navbar-side.html" %}
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
           <h1> {% block pageheader %}{% endblock %} </h1>

          {% block topmenu %}{% endblock %}
          {% block content %}{% endblock %}
           
         
        </div>
    </div>
</div>
        
    {% block footer %}{% endblock %}
       
    <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer>


    
  </body>
</html>